[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
pylint-flask-sqlalchemy = "*"
pylint-flask = "*"
flask-login = "*"
flask-wtf = "*"
wtforms-sqlalchemy = "*"
wtforms-alchemy = "*"
wtforms = "*"

[dev-packages]

[requires]
python_version = "3.9"
